.content {
    padding: 72px 64px 80px ;
    background-color: #ffffff;
    h2 {
        font-family: Inter;
        font-size: 32px;
        font-weight: 600;
        line-height: 46px;
        text-align: left;
        color: #464d7b;
    }
    .desc {
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        text-align: left;
        color: #464D7B;
        margin: 24px 0;
    }
    .info{
        border-top: 1px solid #E7EFFF;
        border-bottom: 1px solid #E7EFFF;
        padding: 24px 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
        div{
            display: flex;
            gap: 12px;
            svg{
                width: 32px;
            }
        }
    }
    .topics {
        display: flex;
        gap: 12px;
        p:nth-child(1) {
            color: #474f7a;
        }
        .topic {
            color: #009ee3;
        }
    }
    .btns {
        display: flex;
        gap: 14px;
        margin-top: 48px;
        .enter {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 13px 24px 14px;

            width: 180px;
            height: 44px;

            background: #009EE3;
            border-radius: 2px;
            border: none;
            color: white;
        }
        .back {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 13px 24px 14px;
            height: 44px;
            background-color: transparent;
            border: 1px solid #009EE3;
            color: #009EE3;
        }
    }
}
