.intro {
    height: 100vh;
    background-color: #006fad;
    display: flex;
    img{
      position: absolute;
      width: 45%;
      bottom: 0;
      right: 0;
      bottom: 0;
    }
  }
  .introContent {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    p {
      font-weight: 500;
      font-size: 32px;
      line-height: 153.5%;
      color: #abd4eb;
    }
    h2 {
      font-size: 62px;
      line-height: 153.5%;
      color: #ffffff;
      margin-bottom: 25px;
    }
  }
  .desc {
    width: 60%;
    font-weight: 400;
    font-size: 21px;
    line-height: 148%;
  }
  