.content{
    min-height: calc(100vh - 200px);
    background-color: #F0FAFF;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 80px 28px;
    .questionWrapper{
        background-color: #ffffff;
        padding: 72px 64px 80px;
        color: #464d7b;
        width: 830px;
        .topics {
            display: flex;
            gap: 12px;
            p:nth-child(1) {
                color: #474f7a;
            }
            .topic {
                color: #009ee3;
            }
        }
    }
    .desc{
        color: #464D7B;
    }
}