.intro {
  height: 100vh;
  background-color: #006fad;
  display: flex;
  img{
    position: absolute;
    width: 45%;
    bottom: 0;
    right: 0;
    bottom: 0;
  }
}
.introContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 153.5%;
    width: 60%;
    color: white;
  }
  h2 {
    font-size: 52px;
    line-height: 153.5%;
    width: 60%;
    color: #ffffff;
    margin-bottom: 25px;
  }
}
  
@media (max-width: 956px){
   
  .intro{
    .introContent{
      h2{
        font-size: 34px;
      }
      p{
        font-size: 22px;
        width: 90%;
      }
    }
  }
 }

 @media (max-width: 624px){
  .intro{
    .introContent{
      h2{
        font-size: 28px;
        width: 100%;
      }
      p{
        font-size: 16px;
        width: 100%;
      }
    }
  }
 }