
.developers{
    padding: 30px 0 172px 0;
}
.developerCardsWrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 132%;
  color: #222539;
  margin-bottom: 24px;
}

@media (max-width: 769px) {
  .developers{
    padding: 20px 0 50px 0;
  }
}