
.blogContent {
  padding: 80px 0;
  min-height: calc(100vh - 292px);
}
.newsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.title {
  color: #242c67;
  font-weight: 700;
  font-size: 40px;
  line-height: 136.5%;
}
.titleDesc {
  font-weight: 600;
  font-size: 16px;
  line-height: 153.5%;
  color: #abd4eb;
}
.newsItem{
    width: calc( 100%/3 - 20px );
}
.emptyNews{
  font-size: 38px;
  font-weight: 600;
  color: rgb(78, 78, 78);
}

@media (max-width: 916px) {
  .newsItem{
    width: calc( 100%/2 - 20px );
  }
}
@media (max-width: 525px) {
  .newsItem{
    width: calc( 100% );
  }
}