.buttons{
    margin-top: 32px;
}
.filledBtn{
    background-color: #009EE3;
    border: 1px solid #009EE3;
    color: white; 
}
.btn{
    border: 1px solid #009EE3;
    color: #009EE3;
    background-color: white;
    margin-left: 13px;
}