
.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    button{
        border: none;
        padding: 12px 0;
        border-radius: 2px;
        width: 33%;
    }
    .prev{
        background: rgba(189, 225, 241, 0.2);
        color: #009EE3;
    }
    .next{
        background: #009EE3;
        color: white;
    }
    .pages{
        color: #B8C7ED;
    }
    .current{
        color: #222539;
        font-weight: 500;
    }
}