.swiper {
  margin-left: auto;
  height: 100px;
}
.swiper-slide{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #7577AB;
  line-height: 150%;
}

@media (max-width: 1200px){
  .swiper{
    margin: 0;
    width: 100%;
  }
}