.newContent {
  padding: 120px 0;
}
.newsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.titleAndLink {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  align-items: center;
}
.link {
  font-weight: 500;
  font-size: 20px;
  line-height: 132%;
  color: #009ee3;
  text-decoration: none;
}
.newsItem{
  width: calc( 100%/3 - 20px );
}

@media (max-width: 769px) {
  .newsWrapper{
    flex-direction: column;
    gap: 60px;
  }
  .newsItem{
    width: 100%;
  }
}