.whyUs {
  margin: 60px 0;
  display: flex;
  align-items: center;
  h2 {
    width: 15%;
    margin-right: 5vw;
  }
  p {
    font-size: 16px;
    letter-spacing: 1px;
  }
}
.whyUsImg {
  width: 100%;
  padding-bottom: 50px;
  border-bottom: 2px solid #e0e8f9;
}
.secondSectionCompanies {
  margin: 30px 0 80px;
  display: flex;
  align-items: center;
  p {
    margin: 0 0 18px 0;
    font-size: 16px;
    width: 40%;
    color: #676767;
  }
}

.swiperItem {
  font-size: 5px;
  gap: 12px;
  svg {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 1200px) {
  .whyUs {
    flex-direction: column;
    h2 {
      width: 100%;
      margin: 15px 0;
    }
  }
  .secondSectionCompanies {
    padding-top: 40px;
    flex-direction: column;
    p {
      font-size: 24px;
      width: 100%;
    }
  }
}

@media (max-width: 769px) {
  .whyUs {
    margin: 32px 0;
    h2 {
      font-size: 32px;
    }
    p {
      font-size: 16px;
      width: 100%;
      margin-bottom: 16px;
      letter-spacing: 0.6px;
    }
    li {
      font-size: 16px;
    }
  }
  .swiperItem {
    font-size: 5px;
    gap: 6px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
