
.intro {
  position: relative;
  z-index: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(#0e1b3a, 0.65), rgba(#0e1b3a, 0.65)),
    url(../../Assets/mainPageImg.jpeg);
  background-size: cover;
}

.intro__content {
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    width: 50%;
    margin: 20px 0;
    letter-spacing: 1px;
    color: white;
  }
  p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
    line-height: 164%;
  }
}

.buttonDiv {
  margin-top: 80px;
}
.button1 {
  border: 1px solid #009ee3;
  color: white;
  background: #009ee3;
  letter-spacing: 1px;
  font-weight: 200;
}
.button2 {
  border: 1px solid white;
  margin: 0 15px;
  color: white;
  background: none;
  letter-spacing: 1px;
  font-weight: 200;
}


.findWork{
  div{
    display: flex;
  }
}
.findWork__box{
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-around;
  padding: 60px;
  border: 1px solid #F0F0F0 ;
  h3{
    font-size: 2vw;
  }
  p{
    font-size: 18px;
    letter-spacing: 0.7px;
  }
}

.paths{
  margin-bottom: 100px;
  h2{
    margin: 70px 0;
  }
  p{
    font-size: 16px;
    margin: 30px 0;
  }
}
.pathBlocks{
  display: flex;
    justify-content: space-between;
}

.path__block{
  width: 48%;
  display: flex;
  flex-direction: column;
}
.fourthImage{
  background: url("../../Assets/нашиНаправления/Rectangle\ 863.png");
  background-size: cover;
  width: 100%;
  aspect-ratio: 16 / 9;
}
.fourthImage2{
  background: url("../../Assets/нашиНаправления/Rectangle\ 864.png");
  background-size: cover;
  width: 100%;
  aspect-ratio: 16 / 9;
}
.path__lang{
  border-top: 1px solid #E7F0FF;
  padding-top: 40px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.employees{
  padding: 100px 0;
  div{
    div{
      display: flex;
    }
  }
}
.employees__item{
  padding: 24px 16px;
  img{
    width: 50px;
    height: 50px;
    margin: 10px;
  }
  div{
    display: flex;
    flex-direction: column;
    height: 120%;
    p{
      margin: 5px 0;
    }
  }
}
.employees__item__wrapper{
  display: flex;
  gap: 30px;
}

@media (max-width: 1200px){
  .employees__item__wrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .intro__content{
    h1 {
      width: 80%;
    }
  }
}

@media (max-width: 906px) {
  .paths{
    padding-top: 50px;
  }
  .pathBlocks{
    flex-direction: column;
    align-items: center;
  }
  .path__block{
    width: 70%;
    margin-top: 30px;
  }
  .paths{
    margin-bottom: 20px;
    h2{
      text-align: center;
      margin: 30px 0;
    }
  }
}