.Header {
  background: linear-gradient(rgba(21, 21, 21, 0.738), rgba(99, 99, 99, 0));
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
}
.headerContent {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  ol {
    display: flex;
    align-items: center;
  }
  li {
    list-style: none;
    padding: 0 20px;
  }
  a {
    text-decoration: none;
    font-size: 18px;
    color: white;
  }
}
.filledHeader{
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}
.filledHeaderContent{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;
  ol {
    display: flex;
    align-items: center;
  }
  li {
    list-style: none;
    padding: 0 20px;
  }
  a {
    text-decoration: none;
    font-size: 18px;
    color: #222539;
  }
}
.filledBtn{
  background-color: #009EE3;
  border: 1px solid #009EE3;
  color: white; 
  padding: 11px 36px;
}
.btn{
  color: #333333;
  border: none;
  background-color: white;
}

.underlined{
  text-decoration: underline !important;
}

.mobileNav{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100%;
  background-color: #006794ce;
  display: flex;
  justify-content: center;
  align-items: center;
  .nav{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  a{
    font-size: 40px;
    color: white;
  }
  button{
    padding: 15px 40px;
    font-size: 32px;
  }
}

.burgerBtn{
  position: fixed;
  z-index: 100;
  right: 30px;
  top: 5px;
  display: flex;
  width: 60px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(20, 184, 255, 0.523);
  transition: .5s;
  span{
    width: 50%;
    height: 4px;
    background-color: white;
    border-radius: 10px;
  }
}
.opened{
  left: 0;
}

@media (max-width: 916px) {
  .headerContent{
    li{
      padding: 0 15px;
    }
  }
}
