.block {
  width: 100%;
  img {
    width: 100%;
    aspect-ratio: 16/9;
  }
  h5 {
    margin: 20px 0 0 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #222539;
  }
}
a {
  text-decoration: none;
}
.date {
  color: #999999;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 14px 0;
}
.desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #5e737c;
}
